.wrapper {
  display: flex;
}
.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  padding-left: 1.5rem;
}

#sidebar.expand {
  width: 200px;
  min-width: 200px;
}
.btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
}
.btn i {
  font-size: 1.5rem;
  color: #000033;
}
.sidebar-logo {
  font-size: 1.5rem;
  margin-right: 0.75rem;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

.sidebar-nav {
  padding: 1rem 0;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: 1.125rem 1.625rem;
  color: #000033;
  display: block;
  font-size: 1.1rem;
  white-space: nowrap;
  border-left: 1px solid transparent;
}

.sidebar-link i {
  font-size: 1.3rem;
  margin-right: 0.75rem;
}

a.sidebar-link:hover {
  background-color: rgba(255, 255, 255, 0.075);
  border-left: 3px solid #3b7ddd;
}

.sidebar-item {
  position: relative;
}

#sidebar{
    width:70px;
    min-width: 70px;
    transition: all .25 ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
}

.sidebar-logo a {
  color: #000033;
  font-size: 1.15rem;
  font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

.navbar-brand {
  padding: 0rem 1.5rem;
}

.main {
  padding-left: 1.5rem;
}

.navbar-expan-lg {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand span {
  color: #0099ff;
}

.deleteMessage {
  display: none;
  color: green;
  font-weight: bold;
}

.downloadMessage {
  display: none;
  color: green;
  font-weight: bold;
}


html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#fileContainer {
  flex: 1;
}

#footer {
  margin-top: auto;
}

#fileContainerContainer {
  background-color: #EDEDED; 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin: 20px auto; 
}

/* Add a frame style */
.image-frame {
  border: 2px solid #EDEDED; 
  padding: 5px;
  border-radius: 5px; 
  overflow: hidden;
  display: inline-block; 
}

.image-frame img {
  width: 100%;
  height: auto;
}

img #back{
  float: left;
}