/* Sidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 160px;
  min-height: 100vh;
  background-color: #72aef2;
  color: #ffffff;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center icons */
}

.closed {
  width: 80px;
}

.toggle-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
}

.list-unstyled {
  padding: 20px 0;
  list-style-type: none;
  text-align: center;
}

.list-unstyled li {
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

.list-unstyled li:hover {
  background-color: #9ac3f0;
}

.list-unstyled li a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.item-name {
  margin-left: 10px;
}

.item-name-hidden {
  display: none;
}

.logout-btn .logout-name {
  margin-left: 10px;
  transition: opacity 0.3s ease;
}

.closed .logout-btn .logout-name {
  opacity: 0;
}

.hint {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #ccc;
}

.hint p {
  margin: 0;
}

.logout-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: none;
  border: none;
  color: #ededed;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .sidebar-open {
    margin-left: 50px; /* Adjust according to your sidebar width */
  }
}

.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}
